<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Selin Insel">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte Assignment</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/explore.css" rel="stylesheet">
  </head>

  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About Data Set</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id= "contents" class="container theme-showcase">

      <div class="alert alert-info text-center" role="alert">
        <h4>Hi! This is my First Byte of Interactive Data Science Project Exploratory Analysis Byte.</h4>
      </div>
      
      <h2>
      <span class="label label-default">Question</span>
      <span id="question">Since 2001 to 2014 how did the percentage of female research and development workers change in Turkey?</span>
      </h2>

	<iframe width="900" height="600" scrolling="no" frameborder="no" 
	src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col0%2C+col4%2C+col5+from+1hr2KPR28ax8yw4ptm1qBNOlU7O5wQO5AxGojLPW5+order+by+col4+asc+limit+15&amp;viz=GVIZ&amp;t=COLUMN&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;gco_tooltip=%7B%22isHtml%22%3Atrue%7D&amp;tmplt=3&amp;att=true&amp;width=900&amp;height=585">
	</iframe>
	
	<h2>
	<span class="label label-default">Answer</span>
    <span>It decreased!</span>
    </h2>

      <div id="explanation" class="well" >
        <p>While the total number of research and development personnel per ten thousand people in the labour force increased, the percentage of female researches in the R&D industry decreased.
        </p>
      </div>

	<div id="footer" class="container-fluid text-center">
		Made by Selin Insel for Interaction Data Science Course at CMU in Spring 2018.
    </div>

      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>

